.wrap {
	width: 100%;
	height: 100%;
}

.wrap.darkTheme {
	background-color: #242424;
	color: #ffffff;
  transition: all 0.3s;
}

.wrap.lightTheme {
	background-color: #ffffff;
	color: #000000;
  transition: all 0.3s;
}