.pagination {
	margin-top: 50px;
  display: flex;
	height: 30px;
	justify-content: center;
	gap: 5px;
}

.pagination__prev {
  padding-bottom: 5px;
}

.pagination__page-numbers {
  display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.pagination__next {
  padding-bottom: 5px;
}

.pagination__prev.theme-dark,
.pagination__next.theme-dark {
  color: #ffffff;
	transition: all 0.3s;
}

.pagination__prev.theme-light,
.pagination__next.theme-light {
  color: #000000;
	transition: all 0.3s;
}
