.info {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #007dffa3;
	padding: 5px;
	border-radius: 5px;
}

.info__button-close {
	margin: auto;
	background: #646c64;
	height: 30px;
	width: 90px;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
	
}

.info__button-close.theme-dark {
  color: #ffffff;
	background: #646c64;
	transition: all 0.3s;
}

.info__button-close.theme-light {
  color: #000000;
	background: #838883;
	transition: all 0.3s;
}