.search-input {
	border-radius: 3px;
	height: 30px;
	width: 200px;
	padding: 0 5px;
}	

.search-input.theme-dark {
	background-color: #242424;
	border: 2px solid #646cffaa;
	color: #ffffff;
	transition: all 0.3s;
}

.search-input.theme-light {
	background-color: #ffffff;
	border: 2px solid #000000;
	transition: all 0.3s;
	color: #000000;
}

.search-input:focus {
	outline: none;
}

.search-button {
	width: 90px;
	height: 30px;
}

.search-button.theme-dark {
	color: #ffffff;
	transition: all 0.3s;
}

.search-button.theme-light {
	color: #000000;
	transition: all 0.3s;
}

.theme-dark {
	color: #ffffff;
	transition: all 0.3s;
}

.theme-light {
	transition: all 0.3s;
	color: #000000;
}