* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
	flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

body.darkTheme {
	background-color: #242424;
}

body.lightTheme {
	background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cffaa;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #ffffff;
}

main {
	min-height: calc(100vh - 150px);
}

.app {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.app.darkTheme {
  background-color: #242424;
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.87);
}

.app.lightTheme {
  background-color: #ffffff;
  transition: all 0.3s;
  color: #242424;
}

.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  margin-bottom: 100px;
  width: 100%;
  max-width: 1280px;
}

.results {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto 0;
  gap: 10px;
}

.items {
  width: calc(100% - 210px);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0;
	min-height: 470px;
}

.flyoutContainer {
  position: fixed;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px 30px 20px;
  gap: 30px;
}

.search.darkTheme {
  background-color: #242424;
  transition: all 0.3s;
}

.search.lightTheme {
  background-color: #ffffff;
  transition: all 0.3s;
}

.main {
	padding: 0 20px;
}

.main.darkTheme {
  background-color: #242424;
  transition: all 0.3s;
}

.main.lightTheme {
  background-color: #ffffff;
  transition: all 0.3s;
}

@media screen and (max-width: 880px) {
  .search {
    flex-direction: column;
  }
}