.theme-button {
	width: 30px;
	height: 30px;
	border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.theme-button_light {
	background-image: url('./../../assets/light-mode.svg');
	background-repeat: no-repeat;
  background-size: cover;
	background-color: #ffffff;
	transition: all 0.3s;
	
}

.theme-button_dark {
	background-image: url('./../../assets/dark-mode.svg');
	background-repeat: no-repeat;
  background-size: cover;
	background-color: #242424;;
	transition: all 0.3s;
}