.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  margin-bottom: 100px;
  width: 100%;
  max-width: 1280px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  gap: 30px;
}

.results {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto 0;
  gap: 10px;
}

.flyoutContainer {
  position: fixed;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .search {
    flex-direction: column;
  }
}
