.search-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding-bottom: 30px;
}

.results {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto 0;
}