.pagination__page-number {
  width: 30px;
	height: 30px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__page-number.theme-dark {
	background-color: #646c64;
	transition: all 0.3s;
	font-weight: 400;
}

.pagination__page-number.theme-light {
	background-color: #838883;
	transition: all 0.3s;
	font-weight: 600;
}

.pagination__page-number.pagination__page-number_active {
	background-color: #007dffa3;
}