#root {
	display: flex;
  text-align: center;
	width: 100%;
	
}

.app {
	display: flex;
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	padding: 2rem;
	justify-content: center;
	text-align: center;
	/* background-color: #242424; */
}

.theme-dark {
	background-color: #242424;
	transition: all 0.3s;
}

.theme-light {
	background-color: #ffffff;
	transition: all 0.3s;
}
